<form #addUserForm="ngForm" (ngSubmit)="addUser()">
  <a>Pesel</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Role</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Profession</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Name</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Second Name</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Surname</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Date of Birth</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>Place of Birth</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.pesel"
  />

  <a>City</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.city"
  />

  <a>Street</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.street"
  />

  <a>House Number</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.houseNumber"
  />

  <a>Zip Code</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.zipCode"
  />

  <a>Login</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.login"
  />

  <a>Password</a>
  <input
    class="form-control mr-sm-2"
    name=""
    type="text"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="user.password"
  />

  <button class="btn btn-success my-2 my-sm-0" type="submit">Submit</button>
</form>
