<div class="card mb-4">
  <div (mouseover)="hovering=true" (mouseout)="hovering=false">
  <div class="card-img-wrapper">
    <img *ngIf="user.role === 'Receiptionist'" class="card-img-top" src="../../../assets/defaultReceptionist.png">
    <img style="height: 160px;" *ngIf="user.role === 'doctor'" class="card-img-top" src="../../../assets/defaultDoctor.jpg">
    <img style="height: 160px;" *ngIf="user.role === 'Doctor'" class="card-img-top" src="../../../assets/defaultDoctor.jpg">
    <img *ngIf="user.role === 'administrator'" class="card-img-top" src="../../../assets/defaultAdmin.png">
    <img *ngIf="user.role === 'Administrator'" class="card-img-top" src="../../../assets/defaultAdmin.png">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><dx-button class="btn btn-primary" (onClick)="showModify()"><i class="fa fa-file-text-o"></i></dx-button></li>
      <li class="list-inline-item"><button class="btn btn-danger" (click)="deleteUser()"><i class="fa fa-eraser"></i></button></li>
    </ul>
  </div>

  <dx-popup
  width="40%"
  height="60%"
  [showTitle]="true"
  title="Modify User: {{user.name}}"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [(visible)]="popupVisible">
  <dx-scroll-view
  [scrollByContent]="true"
  [showScrollbar]="true">
  <app-user-modify 
  (uploaded)="refreshData($event)"
  [selector]="user.username"
  [user]="user"></app-user-modify>
</dx-scroll-view>
</dx-popup>


  <div class="class-body p-1">
    
    <h6 class="card-title text-center mb-1"> <i class="fa fa-user"></i>
      {{user.name}}</h6>
      <h6 class="card-title text-center mb-1">{{user.role}}</h6>
      <h6 class="card-title text-center mb-1">{{user.surname}}</h6>
      <h6 *ngIf="hovering" class="card-title text-center mb-1">{{user.name}}</h6>
      <h6 *ngIf="hovering" class="card-title text-center mb-1">{{user.username}}</h6>
     
      <div *ngIf="user.profession">
        <h6 class="card-title text-center mb-1">{{user.profession}}</h6>
      </div>
      <div>
  </div>
</div>