<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-bra nd" >Medical Center</a>

  <div *ngIf="role === 'receiptionist'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/receptionisthome']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/routePath']">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/routePath']">List of Visits</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/prices']">Prices</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/receptionistAdd']">Add new patient</a>
      </li>
    </ul>
  </div>

  <div *ngIf="role === 'doctor'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/something']">Home</a>
      </li>
    </ul>
  </div>
  
  <div *ngIf="role === 'administrator'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/addUsers']">Add</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav mr-auto">    
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>



</nav>