<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img style="height: 5%; width: 5%;" src="../../../assets/logo.jpg">

  <div *ngIf="role === 'receiptionist' || role === 'Receiptionist'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/receptionisthome']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/appointmentadd']">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/routePath']">List of Visits</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/prices']">Prices</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/receptionistAdd']">Add new patient</a>
      </li>
    </ul>
  </div>

  <div *ngIf="role === 'doctor' || role === 'Doctor'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/something']">Patient/Appointment</a>
      </li>
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/servicelist']">Service List</a>
      </li>
    </ul>
  </div>
  
  <div *ngIf="role === 'administrator' || role === 'Administrator'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/userslist']">List of Users</a>
      </li>
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/addUsers']">Add User</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav mr-auto">    
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>



</nav>