<h1>add Paitents here</h1>

<a>Pesel</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>File Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Second Name</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Surname</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Date of Birth</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Place of Birth</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Gender</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Guardian name and surname</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Foreigner</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Country</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>City</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Street</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>House Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Apartment Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Zip Code</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Post Office</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Phone Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>E-mail</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Profession</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Education</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Employment</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Type</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Series</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Number</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Country</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Name</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Surname</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Pesel</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />

<a>Kinship</a>
<input class="form-control mr-sm-2" name="" type="text" [(ngModel)]="patient" />